html, body {
  overflow: hidden!important;
  height: 100%;
}

.vhHeight { height: 100vh; }
.overflowAuto { overflow: auto; }

.router-link-active{
  position: relative;
  &::after {
    content:"";
    width: 5px;
    height: 5px;
    height: 5px;
    background: #2196f3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    margin: auto;
    border-radius: 10px;
  }
}

.isHook {
  display: none;
}

//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//.vApp {
//  overflow: hidden;
//  height: 100%;
//}
//.app {
//  background: #eee;
//  height: 100%;
//  margin: 0;
//  padding: 0;
//  overflow: hidden;
//  &__wrapper{
//    display: flex;
//    flex-direction: column;
//    height: 100%;
//  }
//  &__header{
//    z-index: 1;
//  }
//  &__page {
//    display: flex;
//    flex-direction: column;
//    height: 100%;
//  }
//  &__subHeader{
//    z-index: 1;
//  }
//  &__content {
//    flex:2;
//    display: flex;
//    overflow: hidden;
//    &_left {
//      flex: 0 0 250px;
//      overflow-x: hidden;
//      overflow-y: auto;
//    }
//    &_center {
//      flex: 1 1;
//      overflow-x: hidden;
//      overflow-y: auto;
//    }
//    &_right {
//      flex: 0 0 250px;
//      overflow-x: hidden;
//      overflow-y: auto;
//    }
//  }
//
//}
//
//
//.repeating-gradient {
//  background-image: repeating-linear-gradient(-45deg,
//    rgba(255,0,0,.25),
//    rgba(255,0,0,.25) 5px,
//    rgba(0,0,255,.25) 5px,
//    rgba(0,0,255,.25) 10px
//  );
//}
//
//
//
//
//.vApplication {
//  overflow: hidden;
//  width: 100%;
//  height: 100%;
//  position: absolute;
//  bottom: 0;
//  top: 0;
//  left: 0;
//  right: 0;
//
//  &__page {
//    display: flex;
//    flex-direction: column;
//    height: 100%;
//
//    &Header {}
//    &Body {
//      display: flex;
//    }
//    &Footer {}
//
//  }
//
//}

.isTable{
  display: flex;
  flex-direction: column;
  height: 100%;
  &__content {
    flex:2;
    display: flex;
    overflow: auto;
    &Wrap {
      flex: 1 1;
      overflow: initial;
    }
    &Layout {
      position: relative;
      & > div {  width: 100%;}
    }
  }
  &__footer {}
  &__fakeHeads {
    background: #ffffff;
    display: flex;
    position: absolute;
    height: 48px;
    z-index: 1;
    & div {
      padding: 0 24px;
      line-height: 48px;
    }
  }

  & table > thead > tr:first-child {
    border-bottom: 1px solid #eee!important;
    & td:nth-child(2) {
      border-left: 1px solid #eee!important;
    }
    & td:nth-child(3) {
      border-left: 1px solid #eee!important;
    }
  }
  & table > tbody > tr:first-child {
    border-bottom: 1px solid #eee!important;
  }
  & table > tbody > tr:last-child {
    border-bottom: 1px solid #eee!important;
  }

}
